span {
    color: red;
}
div {
    background: grey;
}
#block-model {
    width: 200px;
    height: 200px;
    background: #7fade9;
    /* margines wewnętrzny */
    /* padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px; */

    /* paddingi dookoła */
    padding: 20px;

    /* 15px - góra/dół, 30px - lewo/prawo */
    /* padding: 15px 30px; */

    /* kolejność: góra prawo dół lewo */
    /* padding: 20px 30px 10px 50px; */

    /* kolejność: szerokość styl kolor */
    /* style: solid dotted dashed*/
    border: 1px solid black;
    border-bottom: 5px solid rgba(237, 248, 174, 0.52);
    /* border-bottom-width: 10px; */

    /* kolejność: jak w paddingach */
    margin: 30px 10px 50px 50px;
    margin-left: 5px;
}